<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta lang="zh-cn">
        <title>登录 - FuCube公益面板</title>
    </head>
    <body>
        <div class="nav-main">
            <!-- 导航栏 -->
        </div>
        <div class="content-main">
            <!-- 中间应该放的内容 -->
        </div>
    </body>
    <footer>
        <!-- 底部的一堆乱七八糟歪比巴卜 -->
        <div class="bottom-main">
            <div class="bottom-link">
                <span class="bottom-link-span">
                    友情链接：
                </span>
            </div>
            <div class="bottom-copyrighticp">
                <span class="bottom-copyrighticp-span">版权所有 FuCubeCloud 芙方云 2024 保留所有权利。</span>
            </div>
        </div>
    </footer>
</html>