<!doctype html>
<html lang="zh-cn">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">

<!-- Loding font -->
<link href="/css/fonts.css" rel="stylesheet">

<!-- Custom Styles -->
<link rel="stylesheet" type="text/css" href="/css/register.css">

<title>注册 - FuCubeCloud</title>

<!-- 引入jQuery -->
<script src="/js/sweetalert.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
</head>
<body>

<!-- Backgrounds -->

<div id="login-bg" class="container-fluid">

  <div class="bg-img"></div>
  <!-- <div class="bg-color"></div> -->
</div>

<!-- End Backgrounds -->

<div class="container" id="login">
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<div class="login">
				<h2>FuCube注册</h2>
				<form id="registration-form">
					<!--<div class="form-group">
						<input type="avatar" class="form-control" id="avatar" placeholder="头像地址(可选)">
					</div>-->
					<div class="form-group">
						<input type="username" class="form-control" id="username" placeholder="昵称" required>
					</div>
					<div class="form-group">
						<input type="username" class="form-control" id="email" placeholder="电子邮箱" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="password" placeholder="密码" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="confirm-password" placeholder="确认密码" required>
					</div>
					<div class="form-group">
						<img src="{{ captcha }}" alt="图片验证码">
						<input type="text" class="form-control" id="captcha" placeholder="验证码" required>
					</div>
					<div class="form-check">
						<label class="already-have-account"><a href="/login">已有账号? 登录</a></label>
					</div>
					
					<br>
					<button type="submit" class="btn btn-lg btn-block btn-success" id="submit-btn">注册</button>
				</form>
			</div>
			<span style="color:grey;">Copyright &copy; 2024 FuCubeCloud 芙方云 All rights reserved.</span> 
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
    $('#submit-btn').click(function(event) {
        event.preventDefault();
        var username = $('#username').val();
        var password = $('#password').val();
		var email = $('#email').val();
        var confirmPassword = $('#confirm-password').val();
        var captcha = $('#captcha').val();

        if (!username || !password || !confirmPassword || !captcha || !email) {
            swal("错误", "请填写所有字段！", "error");
            return;
        }

		if (password !== confirmPassword) {
			swal("错误", "两次输入的密码不一致！", "error");
			return;
		}

		if (!email.includes('@')) {
			swal("Error", "邮箱格式不正确！", "error");
			return;
		}

        var data = {
            username: username,
            password: password,
			email: email,
			confirmPassword: confirmPassword,
            captcha: captcha
        };

		$.ajax({
			url: '/api/reg',
			type: 'POST',
			data: data,
			dataType: 'json',
			success: function(response, textStatus, xhr) {
				swal("", response.message, "success");
			},
			error: function(xhr, status, error) {
				var responseText = xhr.responseText;
				try {
					var responseJson = JSON.parse(responseText);
					if (typeof responseJson === 'object' && responseJson !== null) {
						swal("错误", responseJson.error, "error");
					} else {
						swal("错误", responseText, "error");
					}
				} catch (e) {
					swal("错误", responseText, "error");
				}
			}
		});
    });
});
</script>
</body>
</html>